<footer>
    <div class="footer-content">
        <p>&copy; 2023 Логистика. Все права защищены.</p>
        <a href="ссылка_на_ваш_аккаунт_в_Facebook" target="_blank"><img src="/images/TransPulse_ShippingSolutions.png" alt="Facebook"></a>
        <a href="ссылка_на_ваш_аккаунт_в_Instagram" target="_blank"><img src="/images/TransportationExperts_LogisticsFlow.png" alt="Instagram"></a>
    </div>
</footer>
<div class="row-of-images">
    <img src="/images/sberbanktoaric.png" alt="сбербанк">
    <img src="/images/Revolut-toaric.png" alt="револьют">
    <img src="/images/Tether-USDTtoaric.png" alt="USDT">
    <img src="/images/paypal-toaric.png" alt="paypal">
    <img src="/images/tranfertoaric.png" alt="wise">
    <img src="/images/advcash-toaric.png" alt="advcash">
</div>