/* Стили для основного контейнера с отзывами */
#main-reviews {
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px; /* Добавляем отступ сверху (настройте значение по вашему усмотрению) */
}

/* Общие стили для изображений */
.review img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Центрирование изображения по горизонтали */
}

/* Стили для максимальной ширины контейнера отзывов (на маленьких экранах) */
@media (max-width: 768px) {
    .reviews-container {
        max-width: 90%;
        margin: 0 auto;
    }
}
