/* Стили для навигационного меню */
nav {
    background-color: #333; /* Цвет фона меню */
    display: flex;
    justify-content: center; /* Выравнивание элементов по центру */
    position: fixed; /* Закрепляем меню */
    top: 0; /* Размещаем меню вверху страницы */
    width: 100%; /* Занимаем всю доступную ширину */
    z-index: 999; /* Поверх всех окон */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block; /* Элементы списка в одной строке */
}

li a {
    display: block;
    color: white; /* Цвет текста ссылок */
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

li a:hover {
    background-color: #555; /* Цвет фона ссылки при наведении */
}

/* Стили для изображения бургер-меню */
nav img {
    width: 32px; /* Установите желаемую ширину изображения */
    height: 32px; /* Установите желаемую высоту изображения */
    cursor: pointer; /* Добавьте курсор указателя при наведении */
    transition: transform 0.3s ease; /* Плавное изменение масштаба при наведении */
    position: absolute; /* Позиционируем изображение абсолютно */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    z-index: 1; /* Помещаем изображение над меню */
}

/* Активация изображения при наведении */
nav #burger-icon:hover {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

/* Медиа-запрос для отображения бургер-меню на узких экранах */
@media (max-width: 768px) {
    nav #burger-icon {
        display: block; /* Отображаем изображение на узких экранах */
    }

    ul {
        display: none; /* Скрываем меню на узких экранах */
        flex-direction: column; /* Отображаем пункты меню вертикально */
        position: absolute; /* Размещаем меню сверху */
        top: 50px; /* Отступ сверху */
        background-color: #333; /* Цвет фона меню */
        width: 100%; /* Занимаем всю доступную ширину */
        z-index: 0; /* Помещаем меню под изображение */
    }

    ul.active {
        display: flex; /* Отображаем меню, если оно активно */
    }

    li {
        display: block; /* Пункты меню в одну колонку */
        text-align: center;
        margin-bottom: 10px; /* Отступ между пунктами меню */
    }
}

