<img src="/images/LogisticsHubShipSmart.png" alt="menu" id="burger-icon">
<nav id="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about/about.html">О нас</a></li>
        <li><a href="/reviews/reviews.html">Отзывы</a></li>
        <li><a href="/translations/translations.html">Переводы</a></li>
        <li><a href="/shop/shop.html">Магазин</a></li>
        <li><a href="/payment-and-delivery/payment-and-delivery.html">Оплата и доставка</a></li>
    </ul>
</nav>
<script src="/js/script.js"></script>
