<header id="header">
    <div class="header-main">
        <h1>Байер</h1>
        <div id="exchange-rates">
            <p>
                <img src="/images/usdttoaric.png" alt="USD Image 2">
                <span id="usd-to-rub"></span> RUB
            </p>
        </div>

        <div class="contact-icons">
            <a href="https://api.whatsapp.com/send?phone=48660018902" target="_blank" aria-label="WhatsApp">
                <img src="/images/whatsapp-icon.png" alt="WhatsApp">
                <span class="contact-label">Наш телефон</span>
            </a>
            <a href="https://t.me/+4YGdBhqxSps0Zjhk" target="_blank" aria-label="Telegram">
                <img src="/images/telegram-icon.png" alt="Telegram">
                <span class="contact-label">Наши контакты в Telegram</span>
            </a>
            <a href="mailto:eurologisticsqueries@gmail.com" aria-label="Gmail">
                <img src="/images/gmail-icon.png" alt="Gmail">
                <span class="contact-label">Наша почта</span>
            </a>
        </div>
    </div>
</header>
<script src="/js/script.js"></script>
